* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background: #0077b6;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.logo {
  font-size: 28px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links li {
  cursor: pointer;
  font-size: 18px;
}

.nav-links li:hover {
  color: rgb(0, 38, 255);
}